<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>webman app plugin</title>

</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.22.8/antd.css" integrity="sha512-zeXrQ/x3uRH79/uLKD2JGHp1GH+4bTh7XASUZOnXjIKjiDSwuHs2e9C2hF4tKJuSPJ6sYlqEVmMicDautJd61w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

hello <?=htmlspecialchars($name)?>
</body>
</html>

